<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div id="serviceDetailModal" title="Cancel Behavior Options" 
    data-bind="ojComponent: { component: 'ojDialog', initialVisibility: 'hide', modality: 'modeless', cancelBehavior: 'icon',
             rootAttributes: { style: 'width: 800px; height: 600px;'} }">
    <div class="oj-dialog-header" data-bind="text: selectedService() + ' Service'"></div>
    <div class="oj-dialog-body">
        <div id="serviceBenefits" class="oj-sm-12 oj-flex-item">
            <div class="benefits oj-flex" data-bind="css: isScreenLGorXL() ? 'oj-margin-lg-end' : ''">
                <span class="heading-type2 oj-sm-12 oj-flex-item" data-bind="text: 'Benefits for ' + selectedService() + ': '"></span>
                <!--ko if: hasServiceBenefits() -->
                <span class="oj-sm-12 oj-flex-item margin-bottom-7px">
                    <span class="heading-type4 color-red" data-bind="text: selectedServiceTitle"></span>
                    <span class="normal-text" data-bind="text: ' - ' + selectedServiceSubTitle()"></span>
                </span>
                <span class="heading-type4 oj-sm-12 oj-flex-item" data-bind="text: benefitsTitle + ':'"></span>
                <ul class="oj-sm-12 oj-flex-item">
                    <!-- ko foreach: selectedServiceBenefitsArray -->
                    <li>
                        <div data-bind="text: text"></div>
                    </li>
                    <!-- /ko -->
                </ul>
                <!-- /ko -->
                <!--ko ifnot: hasServiceBenefits() -->
                <span class="oj-margin-lg-vertical oj-sm-12 oj-flex-item">
                    <span class="heading-type4 color-red" data-bind="text: selectedServiceTitle"></span>
                </span>
                <!--/ko -->
            </div>
        </div>
        <div class="key-features oj-margin-lg-vertical oj-sm-12 oj-lg-12 oj-flex-item">
            <span class="heading-type2 oj-flex" data-bind="text: 'Key features for ' + selectedService() + ': '"></span>
            <!--ko if: hasServiceBenefits() -->
            <div class="oj-margin-lg-top oj-flex" style="height: 500px;">
                <iframe id="pdf" style="width: 100%;" height="500" data-bind="attr : { src: 'https://docs.google.com/gview?url=' + pdfSrc() + '&embedded=true' }" frameborder="0"></iframe>
            </div>
            <!--/ko -->
            <!--ko ifnot: hasServiceBenefits() -->
            <div class="oj-hybrid-padding"></div>
            <span class="oj-margin-lg-vertical oj-sm-12 oj-flex-item">
                <span class="heading-type4 color-red" data-bind="text: selectedServiceTitle"></span>
            </span>
            <!--/ko -->
        </div>
    </div>
    <div class="oj-dialog-footer">
        <button id="okButton" class="c-pointer" data-bind="ojComponent: {component: 'ojButton', label: 'Close'}"> </button>
    </div>
</div>
