<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="navigation-left oj-flex">
    <div class="oj-sm-12 oj-flex-item">
        <ul class="nav-list">
            <li id="dashboard" class="oj-sm-align-items-center oj-flex" data-bind="click: routeToDashboard, css: getStateId() ===  'dashboard' ? 'selected' : ''">
                <img class="nav-icons" src="css/img/dashboard-icon.png" alt="Dashboard" />
                <span>Dashboard</span>
            </li>
            <li class="oj-sm-align-items-center oj-flex">
                <img class="nav-icons" src="css/img/my-services-icon.png" alt="My Services" />
                <span>My Services</span>
            </li>
            <li id="useCases" class="oj-sm-align-items-center oj-flex" data-bind="click: routeToUsecase, css: getStateId() ===  'useCases' ? 'selected' : ''">
                <img class="nav-icons" src="css/img/use-cases-icon.png" alt="Use Cases" />
                <span>Use Cases</span>
            </li>
            <li id="resources" class="nav-resources oj-flex" data-bind="click: routeToResources">
                <div class="oj-sm-12 oj-flex-item">
                    <div class="list-header oj-flex-bar">
                        <img class="nav-icons" src="css/img/resources-icon.png" alt="Resources" />
                        <div class="oj-flex-bar-start"><span>Resources</span></div>
                        <div class="oj-flex-bar-end"><i id="resourcesToggle" class="material-icons">keyboard_arrow_down</i></div>
                    </div>
                </div>
                <div class="oj-sm-12 oj-flex-item">
                    <ul id="resourcesType" class="sub-nav-list oj-sm-hide">
                        <li id="faqs" data-bind="click: routeToFAQs">
                            <div class="sub-nav-content oj-flex oj-sm-flex-items-initial" >
                                <div class="oj-flex-item"><span class="sub-nav-title">Cloud Get Started - FAQ's</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-contact">
                <div class="oj-sm-12 oj-flex-item">
                    <div class="list-header oj-flex-bar" data-bind="click: toggleContactType">
                        <img class="nav-icons" src="css/img/contact-icon.png" alt="Contacts" />
                        <div class="oj-flex-bar-start">
                            <span>Contact</span>
                        </div>
                        <div class="oj-flex-bar-end">
                            <i id="contactToggle" class="material-icons">keyboard_arrow_down</i>
                        </div>
                    </div>
                </div>
                <div class="oj-sm-12 oj-flex-item">
                    <ul id="contactType" class="sub-nav-list oj-sm-hide">
                        <li id="email" data-bind="click: capturedEvent">
                            <div class="sub-nav-content oj-sm-align-items-center oj-flex" >
                                <div class="icon-container oj-flex-item">
                                    <i class="material-icons left">email</i>
                                </div>
                                <div class="oj-flex-item">
                                    <span class="sub-nav-title margin-left-10px">Email</span>
                                </div>
                            </div>
                        </li>
                        <li id="phone" class="sub-nav" data-bind="click: capturedEvent">
                            <div class="sub-nav-content oj-sm-align-items-center oj-flex" >
                                <div class="icon-container oj-flex-item">
                                    <i class="material-icons left">phone</i>
                                </div>
                                <div class="oj-flex-item">
                                    <span class="sub-nav-title margin-left-10px">Call</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li id="logout" class="oj-sm-align-items-center oj-flex" data-bind="click: logout">
                <img class="nav-icons" src="css/img/logout-icon.png" alt="Logout" />
                <span>Logout</span>
            </li>
        </ul>
    </div>
    <!--
    <div class="nav-guided-path-container oj-sm-12 oj-flex-item">
        <span class="nav-guided-path-heading oj-flex">GUIDED PATHS</span>
        <div class="nav-use-case-container oj-margin-vertical oj-flex">
            <span class="nav-use-case-heading bold oj-sm-12 oj-flex-item">Lift & Shift</span>
            <span class="nav-use-case-sub-content oj-sm-12 oj-flex-item">Core Technical Knowledge</span>
            <span class="nav-use-case-sub-content oj-sm-12 oj-flex-item">Complementary Knowledge</span>
            <span class="nav-use-case-sub-content oj-sm-12 oj-flex-item">TCA Calculator</span>
            <span class="nav-use-case-sub-content oj-sm-12 oj-flex-item">Success Stories</span>
        </div>
        <div class="nav-progress-bar-container oj-flex">
            <span class="nav-progress-title oj-sm-12 oj-flex-item" data-bind="text: 'Backup'"></span>
            <div class="nav-progress-bar" data-bind="css: 'nav-progress-orange',
                                            ojComponent:{
                                                component: 'ojProgressbar', 
                                                value: '56'}">
            </div>
        </div>
        <div class="nav-progress-bar-container oj-margin-lg-top oj-flex">
            <span class="nav-progress-title oj-sm-12 oj-flex-item" data-bind="text: 'Disaster Recovery'"></span>
            <div class="nav-progress-bar" data-bind="css: 'nav-progress-red',
                                            ojComponent:{
                                                component: 'ojProgressbar', 
                                                value: '40'}">
            </div>
        </div>
    </div>
    -->
</div>
