/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 28, 2017, 6:41:56 PM
    Author     : mohchand
*/

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    z-index: 9999;
}

.header-wrapper {
    height: 50px;
}

.header-wrapper span i {
    font-size: 36px !important;
    cursor: pointer;
}

.header-start-item .logo {
    height: 36px;
}

.header-start-item, .header-end-item {
    /*color: #324b5c;*/
    height: 50px;
    color: #F80000;
    padding: 8px;
    box-sizing: border-box;
}

.header-end-item .notification-icon, .email-icon {
    cursor: pointer;
}

.header-end-item .notification-count-container {
    position: absolute;
    background: #F80000;
    margin: 3px 0px 0px -15px;
    color: #FFFFFF;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-size: 8px;
    text-align: center;
    line-height: 12px;
}

.header-end-item .header-username {
    font-size: 14px;
    color: #AEAEAE;
}

.header-end-item .profile-dropdown-arrow {
    height: 50px;
    cursor: pointer;
}

.header-end-item .profile-dropdown-arrow i {
    font-size: 20px !important;
    color: #AEAEAE;
    margin-top: 15px;
}

.header-end-item .dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    margin-top: 12px;
    min-width: 160px;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.header-end-item .dropdown-content .header-username {
    padding: 5px 0px;
    border-bottom: 1px solid #AEAEAE;
}

.header-end-item .dropdown-content a {
    display: block;
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
}

.header-end-item .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #F80000
}

.header-end-item .profile-dropdown-arrow:hover .dropdown-content {
    display: block;
}