/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 28, 2017, 6:41:56 PM
    Author     : mohchand
*/

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    z-index: 9999;
}

.header-wrapper {
    height: 50px;
}

.header-wrapper span i {
    font-size: 36px !important;
}

.header-start-item .logo {
    height: 36px;
}

.header-start-item, .header-end-item {
    /*color: #324b5c;*/
    height: 50px;
    color: #F80000;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

.header-end-item .notification-count-container {
    position: absolute;
    background: #F80000;
    margin: 3px 0px 0px -15px;
    color: #FFFFFF;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-size: 8px;
    text-align: center;
    line-height: 12px;
}
