/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2017, 3:54:53 PM
    Author     : nyasarap
*/

navigationbarleft {
    background-color: #31353D;
    border-right: 2px solid #b0c6d1;
}

.nav-list {
    margin: 50px 0px;
    padding-left: 0;
    list-style: none;
}

.sub-nav-list {
    margin: 0px;
    padding-left: 0;
    list-style: none;
}

.sub-nav-list li {
    padding: 10px 26px 10px 36px !important
}

.sub-nav-list li .icon-container {
    max-width: 28px;
    margin-top: 3px;
}

.nav-list .nav-icons {
    width: 22px;
    height: 22px;
    margin-right: 20px;
}

.nav-list li {
    font-size: 18px;
    color: #FFFFFF;
    min-height: 45px;
    padding: 0px 20px 0px 40px;
    border-left: 6px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
}

.nav-list li:hover {
    color: #000000;
    background: #DDDDDD;
}

.nav-list .nav-resources:hover, .nav-list .nav-contact:hover {
    color: #FFFFFF;
    background: none;
}

.nav-list li.selected {
    color: #000000;
    border-left: 6px solid #F80000;
    background: #FFFFFF;
}

.nav-list li .list-header {
    min-height: 45px;
    padding-top: 12px;
}

.nav-list li i {
    font-size: 28px !important;
}

.nav-guided-path-container {
    font-size: 16px;
    color: #FFFFFF;
}

.nav-guided-path-heading {
    font-size: 18px;
    color: #8F9090;
    padding: 0px 46px;
}

.nav-guided-path-container .nav-use-case-container {
    padding: 10px 20px 10px 46px;
}

.nav-guided-path-container .nav-use-case-container.selected {
    background: #272A31;
}

.nav-guided-path-container .nav-use-case-container .nav-use-case-sub-content {
    font-size: 14px;
    padding: 5px 15px;
}

.nav-guided-path-container .nav-use-case-container .nav-progress-bar {
    width: 150px;
    background: #949391;
    height: 7px;
    margin-top: 2px;
    border: none;
    border-radius: 0px;
}

.nav-guided-path-container .nav-use-case-container .nav-progress-red .oj-progressbar-value {
    background: #F80000;
}

.nav-guided-path-container .nav-use-case-container .nav-progress-orange .oj-progressbar-value {
    background: #FC9F15;
}

.nav-guided-path-container .nav-use-case-container .nav-progress-green .oj-progressbar-value {
    background: #77CA47;
}

.nav-guided-path-container .nav-use-case-container .nav-content-status-container {
    max-height: 10px;
    max-width: 10px;
    margin: 3px 5px 0px 0px;
    box-sizing: border-box;
    border-radius: 50%;
}

.nav-guided-path-container .nav-use-case-container .nav-content-red {
    background: #F80000;
}

.nav-guided-path-container .nav-use-case-container .nav-content-orange {
    background: #FC9F15;
}

.nav-guided-path-container .nav-use-case-container .nav-content-green {
    background: #77CA47;
}
