/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 15, 2017, 5:26:38 PM
    Author     : nyasarap
*/

.useCases-page {
    padding: 10px;
    background-color: #F1F2F2; 
}

.useCases-page .use-cases-body-content .oj-masonrylayout-tile-1x1 {
    width: 220px;
    height: 240px;
    margin: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

.useCases-page .use-cases-body-content .oj-masonrylayout-tile-1x1:hover {
    transform: scale(1.2, 1.2);
}

.useCases-page .oj-masonrylayout-tile-1x1 .use-case-image {
    width: 220px;
    height: 140px;
}

.useCases-page .use-cases-body-content .oj-masonrylayout-tile-1x1 .bread-crumbs-icon {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.useCases-page .use-cases-body-content .oj-masonrylayout-tile-1x1 .use-case-content {
    height: 50px;
}

.useCases-page .use-cases-body-content .oj-masonrylayout-tile-1x1 .bread-crumbs-icon:hover {
    transform: scale(1.3, 1.3);
}

.useCases-page .use-case-details-wrapper-content .inverted-btn {
    min-width: 120px;
    margin-bottom: 10px;
}

.useCases-page .inverted-btn {
        color: #F80000;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 0px;
    margin: 0px 10px;
    border: 1.2px solid #F80000;
    border-radius: 27px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.useCases-page .inverted-btn:hover {
    transform: scale(1.2, 1.2);
}


.useCases-page .use-cases-content .status-btn {
    height: 30px;
    width: 140px;
    font-size: 18px;
    color: #FFF;
    background: #F80000 url(img/icon-24.svg) no-repeat right center;
    padding: 5px 15px 5px 0px;
    border-radius: 27px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.useCases-page .use-cases-content .status-btn:hover {
    transform: scale(1.2, 1.2);
}


.useCases-page .use-cases-content .core-tech-support-content {
    height: 100px;
    font-size: 20px;
    padding-left: 40px;
    background: #FFFFFF;
    border-left: 6px solid #F80000;
}

@media screen and (min-width: 1024px) {
    .useCases-page .use-cases-content {
        padding: 20px;
    }
}