/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 19, 2017, 8:04:39 PM
    Author     : nyasarap
*/

.dashboard .use-cases-btn {
    height: 30px;
    font-size: 18px;
    padding: 5px 0px 5px 15px;
    background-color: #F80000;
    color: #FFF;
    border-radius: 27px;
    cursor: pointer;
}

.dashboard .use-cases-btn .play-icon {
    padding-right: 12px;
}

.dashboard .dashboard-use-case-btn {
    margin-left: 40px;
}

.use-case-items i {
    font-size: 18px;
    margin-top: 1px;
}

.use-cases-head-content .status-completed {
    display: block;
    width: 10px;
    height: 10px;
    margin: 20px;
    border-radius: 50%;
    background-color: #F80000;
}

.use-cases-head-content .status-not-started-header {
    width: 14px;
    height: 14px;
    margin: 16px;
    border: 1px solid #F80000;
    border-radius: 50%;
}

.use-cases-head-content .status-not-started {
    display: block;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 50%;
    background-color: #CCCCCC;
}

.use-cases-head-content .status-unknown {
    display: block;
    margin: 20px;
    border-radius: 50%;
    background-color: #CCCCCC;
    width: 10px;
    height: 10px;
    opacity: 0.4;
}

.use-cases-head-content .status-completed-small {
    display: block;
    width: 4px;
    height: 4px;
    margin: 21px 10px;
    border-radius: 50%;
    background-color: #F80000;
    border: 1px solid #F80000;
}

.use-cases-head-content .status-not-started-small {
    display: block;
    width: 8px;
    height: 8px;
    margin: 19px 10px;
    border-radius: 50%;
    background-color: #CCCCCC;
    border: 1px solid #F80000;
    opacity: 0.4;
}

.use-cases-head-content .status-unknown-small {
    display: block;
    width: 6px;
    height: 6px;
    margin: 21px 10px;
    border-radius: 50%;
    background-color:#CCCCCC;
    opacity: 0.4;
}

.use-cases-head-content .status-of-final-step-not-selected-small {
    display: block;
    width: 6px;
    height: 6px;
    margin: 21px 10px;
    border-radius: 50%;
    background-color: #CCCCCC;
    opacity: 0.4;
}

.use-cases-head-content .status-of-final-step-selected-small {
    display: block;
    width: 8px;
    height: 8px;
    margin: 19px 10px;
    border-radius: 50%;
    background-color: #CCCCCC;
    border: 1px solid #F80000;
    opacity: 0.4;
}

.use-cases-demo-page .inverted-btn {
    min-width: 120px;
    color: #F80000;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0px;
    border: 2px solid #F80000;
    border-radius: 27px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
}

.use-cases-demo-page .use-case-details-wrapper .inverted-btn {
    min-width: 100px;
    font-size: 12px;
    margin-right: 15px;
}

.use-cases-demo-page .inverted-btn-hover:hover {
    color: #FFFFFF;
    background-color: #F80000;
}

.use-cases-body-content .oj-masonrylayout-tile-1x1 .use-case-image, .dashboard-use-cases .oj-masonrylayout-tile-1x1 .use-case-image {
    width: 200px;
    height: 110px;
}

.use-cases-body-content .oj-masonrylayout-tile-1x1 .bread-crumbs-icon, .dashboard-use-cases .oj-masonrylayout-tile-1x1 .bread-crumbs-icon {
    margin-top: -4px;
    cursor: pointer;
}

.use-cases-body-content .oj-masonrylayout-tile-1x1, .dashboard-use-cases .oj-masonrylayout-tile-1x1 {
    width: 200px;
    height: 160px;
}

.use-cases-body-content .blur-selected-tile {
    width: 200px;
    height: 160px;
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    z-index: 1;
}

.use-case-details-wrapper {
    min-width: 320px;
    width: 100%;
    max-width: 500px;
}

.close-icon {
    margin: 10px 20px;
    cursor: pointer;
}

.selected-use-case-image {
    width: 100%;
    height: 200px;
}

.use-cases-demo-page .use-case-details-wrapper .use-case-title {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin: 20px 0px 10px 0px;
}

.use-cases-demo-page .use-case-details-wrapper .use-case-description {
    font-size: 12px;
    color: #777;
    line-height: 20px;
}
