/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 11, 2017, 11:46:39 AM
    Author     : nithin narayanan
*/

.useCaseDiscovery-page {
    min-height: 100%;
    background-color: #F1F2F2;
}

.use-case-discovery-wrapper-content {
    padding: 25px 25px 50px 25px;
}

#useCaseDiscoveryPage .use-case-detail-container {
    margin-bottom: 35px; 
}

#useCaseDiscoveryPage .use-case-detail-container .use-case-title-and-desc {
    background: #FFFFFF;
    padding: 30px 15px 30px 30px;
}

#useCaseDiscoveryPage .use-case-detail-container .services {
    background: #FFFFFF;
    padding: 88px 30px 30px 15px;
}

#useCaseDiscoveryPage .use-case-detail-container .use-case-image {
    width: 100%;
}

#useCaseDiscoveryPage .oj-tabs-panel {
    padding: 0px;
    background: none;
}

#useCaseDiscoveryPage .oj-conveyorbelt {
    margin-left: 20px;
}

#useCaseDiscoveryPage .oj-selected .oj-tabs-title {
    color: #F80000;
    font-size: 15px;
    font-weight: bold;
}

#useCaseDiscoveryPage .oj-tabs-tab.oj-selected {
    border-color: #F80000;
}

#useCaseDiscoveryPage .oj-tabs-title {
    color: #4e5052;
    font-weight: bold;
    text-decoration: none;
}

#useCaseDiscoveryPage .oj-tabs-title:hover {
    text-decoration: none;
}

.tca-calculator-iframe {
    width: 100%;
    height: 651px;
}

#useCaseDiscoveryPage .use-case-title {
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;
    color: #000000;
    margin-bottom: 20px;
    border-bottom: 4px solid #F80000;
    padding-bottom: 7px;
}

#useCaseDiscoveryPage .use-case-heading {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}   

#useCaseDiscoveryPage .use-case-description {
    font-size: 12px;
    color: #777;
    line-height: 20px;
    margin-top: 5px;
}

#useCaseDiscoveryPage .inverted-btn {
    min-width: 100px;
    background-color: #FFFFFF;
    color: #F80000;
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 10px;
    padding: 5px 0px;
    border: 2px solid #F80000;
    border-radius: 27px;
    box-sizing: border-box;
    cursor: default;
}

#useCaseDiscoveryPage .tabs-container {
    width: 100%;
}

#useCaseDiscoveryPage #tabsContainer .tabs {
    width: 100%;
}

#useCaseDiscoveryPage #tabCoreTechnicalKnowledge .core-tech-content {
    color: #777;
    font-size: 12px;
    background: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
}

#useCaseDiscoveryPage #tabCoreTechnicalKnowledge .core-tech-img {
    width: 65px;
    height: 65px;
}

#useCaseDiscoveryPage #tabCoreTechnicalKnowledge .core-tech-recommended-text {
    color: #F80000;
    font-weight: bold;
    line-height: 16px;
}

#useCaseDiscoveryPage #tabCoreTechnicalKnowledge .core-tech-title {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

#useCaseDiscoveryPage #tabCoreTechnicalKnowledge .core-tech-progress-bar {
    width: 200px;
    background: #DDDDDD;
    height: 10px;
    margin-top: 2px;
    border: none;
    border-radius: 0px;
}

#useCaseDiscoveryPage #tabCoreTechnicalKnowledge .core-tech-progress-red .oj-progressbar-value {
    background: #F80000;
}

#useCaseDiscoveryPage #tabCoreTechnicalKnowledge .core-tech-progress-orange .oj-progressbar-value {
    background: #FC9F15;
}

#useCaseDiscoveryPage #tabCoreTechnicalKnowledge .core-tech-progress-green .oj-progressbar-value {
    background: #73CC3B;
}

#useCaseDiscoveryPage #tabCoreTechnicalKnowledge .status-btn {
    height: 30px;
    width: 140px;
    font-size: 18px;
    color: #FFF;
    background: #F80000 url(img/icon-24.svg) no-repeat right center;
    padding: 5px 15px 5px 0px;
    border-radius: 27px;
    cursor: pointer;
}

#useCaseDiscoveryPage #tabCoreTechnicalKnowledge .core-tech-support-content {
    min-height: 65px;
    font-size: 20px;
    padding-left: 40px;
    background: #FFFFFF;
    border-left: 6px solid #F80000;
}
